@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;600&family=Rubik:ital,wght@0,300;0,400;0,500;0,900;1,300;1,400&display=swap');

body {
  box-sizing: border-box;
  font-family: 'Roboto Slab', serif;
  font-family: 'Rubik', sans-serif;
  }

.logo-stars {
  padding: 10px;
  border-style: solid;
  border-bottom-color: #DCE0DF;
  border-bottom-width: 1px;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}

.star, .logostar {
  height: 45px;
}

.btn-buscar {
  border-color: #FA7322;
  color: #FA7322;
}

.btn-buscar:hover {
  background: #FA7322;
  color: black;
}


.sec-lomejor {
  background-color: #FA7322;
  padding-bottom: 64px;
}
.sec-lomejor h2{
  color: #FFFFFF;
  width: auto;
  padding: 30px 0 12px 0;
  border-bottom: 2px solid #ffffff5e;
  margin-bottom: 18px;
}

.next-games {
  background-color: #F3F3F3;
}

.next-games h2{
  width: auto;
  padding: 30px 0 12px 0;
  border-bottom: 2px solid #0000005e;
  margin-bottom: 18px;
}

.card-lomejor {
  padding: 16px;
  box-shadow: 1px 2px 4px #6b6b6b;
}

.h5-redes {
  padding: 10px;
}

.sec-patrocinadores {
  padding: 10px;
}