.image-placeholder {
  background-size: contain;
  height: 300px;
  background-repeat: no-repeat;
  background-position: center;
  min-width: 250px;
  flex: 1 1 0px;
}

section {
  box-shadow: 1px solid rgba(0,0,0,.125);
  border-radius: .25rem;
}

.map {
  height: 300px;
}

.title-header {
  font-weight: 200;
}

.text-container {
  color: #FA7322;
  background-color: #f7f7f7;
}

@media screen and (max-width: 600px) {
  h1.title-header {
    font-size: 20px;
  }

  h2.title-header {
    font-size: 22px;
  }
}

